
body {
    background: white;
    height: 100vh;
    margin-left: -12px;
    margin-right: -12px; 
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-block-style {
    height: 14rem;
    width: 32%;
    background-color:#cccccc;
    font-size:37px;
  
  }


.form-wrapper {
    background-color: #f8f9fa;
    padding: 1%;
    border-radius: 1%;
}
.form-control {
    border-radius: 0;
}
.text-end {
    text-align: right;
}
.text-start {
    text-align: left;
}
.footer {
    text-align: left;
    margin-top: 20%;
}
.navbar-brand {
   
    font-weight: 600;
}

a.nav-link {
   
    font-weight: 600;
}

.tag {
    width: 98%;
    text-align: center;
    margin-top: 11rem;   
    opacity: 0.95; 
}

.tag1 {
    font-size: 7.5rem;
    height: 8.5rem;
    position: relative;
    top: -0.18em;
}

.tag2 {
    width: 100%;
    font-size: 4.5rem;
   margin-top: 1.2em;
}

.first-img {
    border-radius: 50%;
    width: 20rem;
}

.text-container {
    width: 80%;
}

.photo-container {
    width: 20%;
}

.grey-heading {
    color: grey;
}

.child-container {
    margin: 70px;
}
