body{
    background: #BDBDBD;
    margin-left: -12px;
    margin-right: -12px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-size: 1.1em !important;
    font-weight: 600;
}

a.nav-link {
    font-size: 0.8em !important;
    font-weight: 600;
}

.tag {
    width: 98%;
    text-align: center;
    margin-top: 11rem;   
    opacity: 0.95; 
}

.tag1 {
    font-size: 7.5rem;
    height: 8.5rem;
    position: relative;
    top: -0.18em;
}

.tag2 {
    width: 100%;
    font-size: 4.5rem;
   margin-top: 1.2em;
}

.first-img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.text-container {
    width: 80%;
}

.photo-container {
    width: 20%;
}

.grey-heading {
    color: grey;
}

.child-container {
    margin: 70px;
}
