body {
    background-color: rgb(230, 230, 230);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contact-container {
    width: 1400px; 
    height: 1000px; 
    padding: 100px 80px 40px 80px; 
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.form-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 70%; 
    margin: 10px auto;
    height: 450px; 
}
.footer {
    text-align: left;
    margin-top: 80px;
    color: gray;
    font-size: 5px; 
}
.form-control {
    background-color: white;
    color: black;
    border: 1px solid gray;
    width: 80%; 
}
.form-control::placeholder {
    color: gray;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 12px 24px;
    font-size: 18px;
}
.text-end {
    text-align: right;
}
.form-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 25%;
    margin-right: 15px;
}
.mb-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
h2.fw-bold {
    font-size: 48px; 
}
p {
    font-size: 22px; 
}

    