
body {
    background: white;
    height: 100vh;
    font-size: 12px;
    margin-left: -12px;
    margin-right: -12px; 
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-threeblocks {
    width: 400px;
  }

.contact-container {
    width: 500px; 
} 

.contact-box {
    background-color: #f5f5f5; 
    padding: 15px; 
    border-radius: 5px;
}

.form-group {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.form-label {
    width: 100px; 
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
    font-size: 11px; 
}

.form-control {
    flex: 1;
    height: 28px; 
    font-size: 11px; 
    padding: 5px;
}

textarea.form-control {
    height: 70px; 
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.btn-primary {
    font-size: 11px;
    padding: 6px 15px; 
}

h2.fw-bold {
    font-size: 18px; 
}

p {
    font-size: 11px; 
}

.footer {
    font-size: 10px;
    color: grey;
    margin-top: 10px;
    text-align: left; 
    width: 500px;
}
    
.navbar-brand {
    font-size: 1.1em !important;
    font-weight: 600;
}

a.nav-link {
    font-size: 0.8em !important;
    font-weight: 600;
}

.tag {
    width: 98%;
    text-align: center;
    margin-top: 11rem;   
    opacity: 0.95; 
}

.tag1 {
    font-size: 7.5rem;
    height: 8.5rem;
    position: relative;
    top: -0.18em;
}

.tag2 {
    width: 100%;
    font-size: 4.5rem;
   margin-top: 1.2em;
}

first-img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.text-container {
    width: 80%;
}

.photo-container {
    width: 20%;
}

.grey-heading {
    color: grey;
}

.child-container {
    margin: 70px;
}