<div class="container mt-5">
    <h2 class="fw-bold pt-5"><strong>Contact</strong></h2>
    <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla.Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8 form-wrapper border">
        <form>
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label fw-bold text-end">Your E-mail</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Your email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="message" class="col-sm-3 col-form-label fw-bold text-end">Your message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form></div>
        <div class="col-2"></div>
    </div>
</div>

    
