<!-- your html code here -->
<div class="container  border-bottom mb-5 border-top mt-5 border-secondary-emphasis">
    <div class="child-container d-flex">
        <div class="text-container">
            <h1><strong>This First Heading <span class="grey-heading">Will Catch Your Eye</span></strong></h1>
            <p>Donec unallcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisi consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="photo-container text-center">
            <img src="assets/img/1.jpg" class="first-img" alt="">
        </div>
    
    </div>
</div>
