<!-- your html code here -->

<!-- container portfolio -->
<div class="container bg-white border-bottom border-secondary-emphasis ">
  <div class="row mb-5">
    <h1><strong>Portfolio</strong></h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
      felis euismod semper. Praesent
      commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <!-- Bloques de imagenes con fondo gris -->
    <div class="d-flex justify-content-between flex-wrap mt-3">

      <div
        class="col-3 text-secondary text-center align-items-center portfolio-block-style d-flex justify-content-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
      <div
        class="col-3 text-secondary align-items-center portfolio-block-style d-flex justify-content-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
      <div
        class="col-3 text-secondary align-items-center portfolio-block-style d-flex justify-content-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
    </div>
    <!-- End Bloques de imagenes con fondo gris -->

    <!-- Tres bloques de texto -->
    <div class="d-flex justify-content-evenly mt-3">
      <div class="col-4">
        <h3 class="text-primary">Project Name</h3>
        <p class="pe-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
      <div class="col-4">
        <h3 class="text-primary">Project Name</h3>
        <p class="pe-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
      <div class="col-4">
        <h3 class="text-primary">Project Name</h3>
        <p class="pe-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
    </div>
    <!-- End Tres bloques de texto -->

  </div>
</div>
<!-- End container portfolio -->