<!-- container portfolio -->
<div class="container bg-white border-bottom border-secondary-emphasis">
    <h1 class="col-12 col-md-12 col-lg-12">Portfolio</h1>
    <p class="col-12 col-md-12 col-lg-12">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
      felis euismod semper. Praesent
      commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 
    <!-- Bloques de imagenes con fondo gris -->
    <div class="d-flex justify-content-between flex-wrap ">
      <div
        class="col-4 col-md-4 col-lg-4 text-secondary portfolio-block-style d-flex justify-content-center text-align-center align-items-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
      <div
        class="col-4 col-md-4 col-lg-4 text-secondary portfolio-block-style d-flex justify-content-center text-align-center align-items-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
      <div
        class="col-4 col-md-4 col-lg-4 text-secondary portfolio-block-style d-flex justify-content-center text-align-center align-items-center mb-3">
        <span><strong>700x400</strong></span>
      </div>
    </div>
    <!-- End Bloques de imagenes con fondo gris -->
 
    <!-- Tres bloques de texto -->
    <div class="d-flex justify-content-between flex-wrap mt-3">
      <div class="col-4 col-md-4 col-lg-4 portfolio-threeblocks">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
      <div class="col-4 col-md-4 col-lg-4 portfolio-threeblocks">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
      <div class="col-4 col-md-4 col-lg-4 portfolio-threeblocks">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae.</p>
      </div>
    </div>
    <!-- End Tres bloques de texto -->
 
  </div>
 <!-- End container portfolio -->