<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-end align-items-end">
        <img src="assets/img/2.jpg" class="img-fluid; rounded-circle" alt="Imagen teclado">
      </div>
      <div class="col-md-8 pe-">
        <h2>
        <span class="text-dark">The Second Heading</span>
        <span class="text-secondary">Is Pretty Cool Too</span>
        </h2>
        <p style="margin-right: 30px;" >Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>