<div class="container">
    <div class="row border-bottom mb-5 border-secondary-emphasis">
      <div class="col-md-4 d-flex justify-content-end align-items-end mt-5  mb-5 pb-5">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="Imagen teclado">
      </div>
      <div class="col-md-8 mt-5">
        <h2><strong>
        <span class="text-dark">The Second Heading</span>
        <span class="text-secondary">Is Pretty Cool Too</span></strong>
        </h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>